{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock header %}

{% block content%}
<div class="container-fluid">
    <h1>お知らせ</h1>
    <p>特になし</p>
    <hr style="border:0;border-top:1px solid #708090;">
    <h2>ダウンロード</h2>
    <p><a href="#">取り扱い説明書</a></p>
    
    <!--- hr style="border:0;border-top:1px solid #708090;">
    <h1>本日のお天気</h1>
    <p>{{ weather }}</p>
    <p>{{ tempareture }}</p>
    <p>{{ rain }}</p --->
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
{% endblock content %}
