{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock header %}

{% block content%}
<div class="container-fluid">
    <h1>設定一覧</h1>
    <p><a href="{% url 'resultcategorylist' %}" class="list-group-item list-group-item-action bg-light">検査結果カテゴリー</a></p>
    <p><a href="{% url 'taskcategorylist' %}" class="list-group-item list-group-item-action bg-light">処理カテゴリー</a></p>
    <p><a href="{% url 'itemlist' %}" class="list-group-item list-group-item-action bg-light">商品一覧</a></p>
    <p><a href="{% url 'gradelist' %}" class="list-group-item list-group-item-action bg-light">商品グレード一覧</a></p>

</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
{% endblock content %}
