{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock header %}

{% block content%}
{% if user.is_authenticated %}
<h1>商品変更</h1>
<form action="{% url 'updateitem' pk %}" method='POST'>{% csrf_token %}
    <table>
        <tr>
            <th>商品名</th>
        </tr>
        <tr>
            <td>{{ form.itemname }}</td>
        </tr>
    </table>
    <!---p><input type='hidden' name='author' value="{{ user.id }}"></p--->
    <input type='submit' value='変更する'>
</form>
{% else %}
ログインしてください
<a href="{% url 'login' %}" class="btn-square" role="button" aria-passed="true">ログイン</a>
{% endif %}


<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
{% endblock content %}
